.cont-formulario {
    background-color: white;
    width: auto;
    padding: 60px;
    border-radius: 10px;
    
   
}

row{
    display: flex;
}

.contenedor-formulario .img {
    display: inline;
}

.blog-nota .p{
    line-height: 23px;
}

.nosotros-page{
    
        font-family: 'Poppins', sans-serif;
          background-attachment: fixed;
          height: 100vh;
          background-image:
            url('../../assets/group2.png'),
            linear-gradient(#c2e3ff 30%, #c5e7fd 40%,#ccefff);
          background-repeat: no-repeat;
          height: auto;
        }
   
